<!DOCTYPE html>
<html lang="en" ng-app="placementsApp">
<head>
    <title>Placements</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"0>
    <script src="http://code.jquery.com/jquery.js"></script>
    <!--Underscore-->
    <script src="lib/underscore-min.js"></script>
    <!-- AngularJS -->
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <!-- AngularJS router -->
    <script src="http://code.angularjs.org/1.2.9/angular-route.min.js"></script>
    <!-- AngularJS REST-->
    <script src="http://code.angularjs.org/1.2.9/angular-resource.min.js"></script>
    <script src="js/placementsApp.js"></script>
    <!-- Foundation -->
    <link rel="stylesheet" href="lib/foundation5.2.1/css/foundation.min.css" />
    <link rel="stylesheet" href="lib/foundation-icons/foundation-icons.css" />
    <script src="lib/foundation5.2.1/js/vendor/modernizr.js"></script>
    <script src="lib/foundation5.2.1/js/vendor/jquery.js"></script>
    <script src="lib/foundation5.2.1/js/foundation.min.js"></script>
</head>

<body>
    <div ng-view>

    </div>
</body>

</html>